.virus7 {
    position: absolute;
    top: 72px;
    right: 899px;
}
.virus5 {
    position: absolute;
    top: 61px;
    right: 210px;
}
.virus4 {
    position: absolute;
    bottom: -128px;
    left: 542px;
}
.pinkSperm1{
    position: absolute;
    left: 456px;
    top: 155px;
    z-index: 1;
}
.bakti1 {
    position: absolute;
    right: 928px;
    top: 503px;
}
.virus8 {
    position: absolute;
    top: 200px;
    left: 862px;
    overflow: hidden;
    z-index: 1;
    animation: virus8 10s 0.2s infinite;
}
@keyframes virus8 { 
    25% {
        transform: rotate(-90deg);
        top: 145px;
        left: 780px;
    }
    50% {
        transform: rotate(-180deg);
        top: 100px;
        left: 740px;
    }
    75% {
        transform: rotate(-90deg);
        top: 140px;
        left: 820px;
    }
    100% { 
        transform:rotate(0deg);
        top: 200px;
        left: 862px;
    } 
}
.pinkSperm2 {
    position: absolute;
    right: 745px;
    top: 593px;
}
.virus4Copy {
    position: absolute;
    top: 631px;
    right: 592px;
}
.virus4Copy2 {
    position: absolute;
    right: 36px;
    top: 30px;
}
.textContent {
    position: absolute;
    top: 162px;
    left: 78px;
}
.btnNext {
    position: absolute;
    left: 636px;
    top: 463px;
}